<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试用例</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <th>模块</th>
            <th>操作步骤</th>
            <th>预计输出</th>
            <th>实际输出</th>
        </tr>
    </thead>
    <tbody>
    {% for line in testcase_list %}
        <tr>
            <td>{{ line.name }}</td>
            <td>{{ line.function }}</td>
            <td>预计输出</td>
            <td>实际输出</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>